.chart-container{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 40px;
    box-shadow: 0 0 15px -10px rgb(0, 0, 0,0.75);
    border-radius: 5px;

}
.chart-container h3{
    padding: 10px;
    margin-bottom: 10px;
}